*{
    margin:0;
    padding:0;
}
html{
  scroll-behavior: smooth;
}
  .logo{
    width:20%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.burger{
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top:15px;
}

.line{
  width: 34px;
  background-color: white;
  height: 4px;
  margin: 5px 3px;
}
   
    
  .logo img{
    width: 50%;
    border: 3px solid white;
    border-radius:50px;
  }


.navbar{
    display: flex;
    align-items:center ;
    justify-content: center;
    position: sticky;
    cursor: pointer;
    top:0;
    

}

.nav-list{
    width:64%;
    display: flex;
    align-items:center;

}
.nav-list li{
    list-style: none;
    padding: 26px 30px;

}
.nav-list li a{
text-decoration:none;
color:white ;
font-size: 20px;
font-family:'ubuntu',sans-serif
}
.nav-list li a:hover{
    color:grey ;
    }
    

.rightnav{
    width: 30%; 
    text-align: right;
}
#search{
    padding:5px ;
    font-size:17px ;
    border: 2px solid gray;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url("../images/download.jpg");
    background-size:cover;
    
    background-blend-mode:darken;
}
.firstSection{
  height:100vh ;
  
}
.box-main{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  margin: auto ;
  max-width: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height:80% ;
}

.firstHalf{
  width:80% ;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.secondHalf{
  width: 30%;
  
}
.secondHalf img{
  width: 150%; 

  border:1px solid white;
  border-radius: 80px;
  margin:auto ;
  display:block;
}
.textSmall{

  font-size: 18px;
  padding: 16px;

}


.textBig{
  font-size: 28px;
  padding-left: 14px;
  
}
  
.button{
  padding-left: 14px;
}
.btn{
    padding: 15px;
    border-radius: 19px;
    border: 1px solid white;
    margin: 7px 0;
    cursor: pointer;
    background: none ;
    color:white;
    font: ubuntu;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
.btn sm{
    padding: 15px;
    border-radius: 19px;
    border: 1px solid white;
    margin: 7px 0;
    cursor: pointer;
    background: none ;
    color:white;
}
.btn-sm{

padding: 6px 16px;
vertical-align:middle ;

}
.btn-dark{

  color: black;
  border:2px solid grey;

}
.section{
  display: flex;
  justify-content:center ;
  align-content: center;
  max-width: 80%;
  margin: auto;
  font-family: ubuntu,sans-serif;
  font-size: small;
  margin-top:20px;

}
.section-Left{

  flex-direction: row-reverse;

}
.paras{

  padding: 0 80px;
}

.laptop image{

  border-radius: 64%;
    
}
.sectionSubTag{

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgFluid{
  height:200px ;
  width:auto ;
  padding:100px;
  border-radius:50px;
  border:50px ;
}
.section-margin{
  margin-top: 70px
}

.thumbnail img{
  padding:6px;
  
}
.sectionTag{
padding: 16px;

}
.thumbnail img{
  padding:35px;
  border: 4px white;
  margin-top: 70px;
}
.contact{
  background-color: rgb(248, 247, 245);
  height: 533px;
}
.text-center{
  text-align:center;
  padding-top:30px;
  font-family: ubuntu,sans-serif;
  font-size: 35px;
  padding-top: 30px;
  
}
.form{
  max-width: 80%;
  margin: 42px auto;
}
.form-input{
  margin: 16px 0;
    width: 92%;
    padding: 7px;
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-footer{
  text-align:center;
  font-family: ubuntu,sans-serif;
  font-size: 15px;
  padding:30px 0;
  color:white  ;
  display: flex;
  justify-content: center;
}
.footer-margin{ 
  margin-top: 300px;
  background-color: #5c5555;
}

  